/* Layout */
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    
}

.logo-container{
    flex: 1;
    background: no-repeat center url(../images/plant-bg.jpg);
}

.form-container{
    flex: 3;
    background-color: palevioletred; /*placeholder*/
}

/* Logo Container Content Styles */
.odin-logo{
    width: 5em;
}

/* Form Container Content Styles */

/* Validation Styling */
input:user-valid {
    border: 2px solid green;
}

input:user-invalid {
    border: 2px solid red;
}

input[type="email"]:user-invalid + span::before {
    content: "*Please format email as \"myemail@email.com\"";
}

input[type="password"]:user-invalid + span::before {
    content: "*Passwords do not match";
}
