/* Validation Styling */
input:user-valid {
    border: 2px solid green;
}

input:user-invalid {
    border: 2px solid red;
}

input[type="email"]:user-invalid + span::before {
    content: "*Please format email as \"myemail@email.com\"";
}

input[type="password"]:user-invalid + span::before {
    content: "*Passwords do not match";
}